@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box;
}

body {
	font-family: 'Manrope';
	background-color: #000;
	color: #e0e0e0;
	margin: 0;
	padding: 0;
	min-height: 100vh;
    text-align: center;
}

.grid {
	position: fixed;
	/* top: 5rem; */
	height: 80%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
}
  
.grid-svg {
	height: 80%;
	width: 80%;
	position: fixed;
}

.blur4 {
	height: 10rem;
	width: 10rem;
	background-color: hsl(345, 100%, 65%);
	filter: blur(75px);
	border-radius: 50%;
	z-index: 0;
	position: absolute;
	top:-5%;
	left: 80%;
	animation: float 16s infinite ease-in-out;
}
  
@keyframes float {
	0% {
	  transform: translate(0, 0);
	}
	25% {
	  transform: translate(80px, -80px);
	}
	50% {
	  transform: translate(-80px, -160px);
	}
	75% {
	  transform: translate(40px, -240px);
	}
	100% {
	  transform: translate(0, 0);
	}
}

.button {
    background-color: #046c64;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.button:hover {
    background-color: #034f4b;
}

/* Chatbot Section */
.chatbot {
    background: white;
    padding: 20px;
    width: 50%;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

	padding: 5rem;
    background: linear-gradient(135deg, #5A3FBB, #2B6CB0, #0F4C75);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 2.5rem;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.chatbot h2 {
    color: #fff;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

#chat-box {
    width: 90%;
    height: 200px;
    overflow-y: auto;
    background: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#user-input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background: linear-gradient(135deg, hsla(145, 85%, 50%), hsla(150, 91%, 55%));
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 10px 15px;
    text-shadow: 0px 0px 10px rgba(0, 0, 1, 0.5);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #034f4b;
}

