@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box;
}

body {
	font-family: 'Manrope';
	background-color: #000;
	color: #e0e0e0;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

.navbar {
	position: fixed;
	top: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
	background: linear-gradient(135deg, rgba(40, 40, 40, 0.8), rgba(30, 30, 30, 0.8));
	padding: 1rem 1.3rem;
	border-radius: 2.5rem;
	/* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4); */
	z-index: 1000;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	transition: all 0.3s ease;
	width: 80%;
	max-width: 1200px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}

.logo {
	margin-left: 1rem;
	font-size: 2.2rem;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	height: 100%;
	z-index: 5;
	pointer-events: none;
	user-select: none;
}
  
.logo > p {
	margin: 0;
	width: auto;
}
  
.logo p span {
	letter-spacing: -0.6rem;
	display: inline-block;
	text-shadow: 0 0 1rem hsla(0, 0%, 100%, 0.3);
}
  
.logo > p:nth-child(1) {
	color: white;
}

@supports((text-stroke: 1.5px white) or (-webkit-text-stroke: 1.5px white)) {
	.logo > p:nth-child(1) > span:nth-child(2),
	.logo > p:nth-child(1) > span:nth-child(6),
	.logo > p:nth-child(1) > span:nth-child(10) {
		color: transparent;
		-webkit-text-stroke: 1.5px white;
		rotate: 8deg;
	}
	.logo > p:nth-child(1) > span:nth-child(6) {
		animation: fall 0.5s forwards 1s;
		rotate: 10deg;
	}
	.logo > p:nth-child(1) > span:nth-child(4),
	.logo > p:nth-child(1) > span:nth-child(8) {
		color: transparent;
		-webkit-text-stroke: 1.5px white;
		rotate: -8deg;
	}
}
  
@keyframes fall {
	0% {
	  	transform: rotate(0deg);
	}
	100% {
	  	transform: rotate(8deg);
	}
}

.nav-links {
	display: flex;
	gap: 0.5rem;
}

.nav-link {
	color: #fff;
	text-decoration: none;
	padding: 0.75rem 2rem;
	border-radius: 50px;
	transition: all 0.2s ease;
	font-size: 1.125rem;
	font-weight: 200;
	position: relative;
	cursor: pointer;
}

.nav-link:hover {
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.25), rgba(108, 108, 108, 0.3));
	/* transform: scale(1.05); */
	color: #fff;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.nav-link.active {
	background-color: rgba(255, 255, 255, 0.2);
	font-weight: bold;
}

.nav-link:focus {
	outline: none;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6);
}

.nav-link.logout-button {
    color: #fff;
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: 50px;
    transition: all 0.3s ease;
    font-size: 1.125rem;
    font-weight: 200;
    position: relative;
    background: linear-gradient(135deg, hsla(0, 85%, 58%, 0.9), hsla(14, 91%, 64%, 0.596));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.nav-link.logout-button:hover {
    background: linear-gradient(135deg, hsl(0, 85%, 58%), #ff5c00);
    color: #fff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
    transform: scale(1.02);
}

.nav-link.logout-button.active {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
}

.nav-link.logout-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6);
}

/*  */
/*  */
/*  */

.grid {
	position: fixed;
	/* top: 5rem; */
	height: 80%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
}
  
.grid-svg {
	height: 80%;
	width: 80%;
	position: fixed;
}
  
.blur1 {
	height: 8rem;
	width: 8rem;
	background-color: hsl(198, 85%, 58%);
	filter: blur(80px);
	border-radius: 50%;
	z-index: 0;
	position: absolute;
	top: 50%;
	left: 8%;
	animation: float 12s infinite ease-in-out;
}
  
.blur2 {
	height: 25rem;
	width: 25rem;
	background-color: hsla(37, 100%, 65%, 0.8);
	filter: blur(60px);
	border-radius: 50%;
	z-index: 0;
	position: absolute;
	top: 25%;
	left: 35%;
	animation: float 18s infinite reverse;
}
  
.blur3 {
	height: 15rem;
	width: 15rem;
	background-color: hsl(155, 100%, 65%);
	filter: blur(100px);
	border-radius: 50%;
	z-index: 0;
	position: absolute;
	top: 70%;
	left: 70%;
	animation: float 30s infinite alternate-reverse;
}
  
.blur4 {
	height: 10rem;
	width: 10rem;
	background-color: hsl(345, 100%, 65%);
	filter: blur(75px);
	border-radius: 50%;
	z-index: 0;
	position: absolute;
	top:-5%;
	left: 80%;
	animation: float 16s infinite ease-in-out;
}
  
@keyframes float {
	0% {
	  transform: translate(0, 0);
	}
	25% {
	  transform: translate(80px, -80px);
	}
	50% {
	  transform: translate(-80px, -160px);
	}
	75% {
	  transform: translate(40px, -240px);
	}
	100% {
	  transform: translate(0, 0);
	}
}

/*  */
/*  */
/*  */

.landing-container {
	max-width: 1200px;
	margin: 5rem auto 1rem auto;
	padding: 0 2rem 0rem 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title {
	font-size: 5rem;
	font-weight: 650;
	padding-top: 2rem;
	/* margin-top: 2rem; */
	/* margin-bottom: 6rem; */
	letter-spacing: -0.2rem;
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-self: center;
	height: 100%;
	z-index: 5;
	text-shadow: 0 0 1rem #000000b1;
}

.title > p {
	/* margin: 0; */
	width: auto;
	text-align: center;
}

/* .title > p > span:nth-child(1) {
	margin-top: 2rem;
} */

.title > p > span:nth-child(2) {
	color: hsl(37, 100%, 65%);
	/* margin-bottom: 2rem; */
}

.container {
    width: 100%;
    max-width: 600px;
    text-align: center;
	position: relative;
	padding: 5rem;

	background: linear-gradient(135deg, rgba(40, 40, 40, 0.8), rgba(30, 30, 30, 0.8));
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	margin: 2rem;
	min-width: 500px;
	border-radius: 2.5rem;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

#book-image {
	height: 15rem;
	position: absolute;
	top: -8rem;
	left: -8rem;
	z-index: 10;
	animation: floatAnimation 5s ease-in-out infinite, glowAnimation 5s ease-in-out infinite;
	user-select: none;
	pointer-events: none;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes glowAnimation {
    0% {
        filter: drop-shadow(0 -2 10px hsla(267, 65%, 73%, 1))
    }
    50% {
        filter: drop-shadow(0 0 20px hsla(267, 65%, 73%, 0.6))
    }
    100% {
        filter: drop-shadow(0 -2 10px hsla(267, 65%, 73%, 1))
    }
}

.dropdown-container {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 20px;
}

.dropdown {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.selected {
	font-family: 'Courier New', Courier, monospace;
    display: block;
    /* padding: 10px; */
    /* background-color: #ffffff; */
    /* border: 2px solid #ccc; */
    cursor: pointer;
    text-align: left;
    /* border-radius: 5px; */
    /* font-size: 16px; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */

	width: 100%;
	padding: 0.75rem 1.2rem;
	border: 1px solid #444;
	border-radius: 50px;
	font-size: 1rem;
	background-color: hsla(0, 0%, 22%, 0.5);
	color: #eaeaea;
	transition: all 0.3s ease;
}

.selected:hover {
	border-color: #00b4cc;
    background-color: hsla(0, 0%, 28%, 0.9);
}

.dropdown-menu {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    display: none;
    background-color: #fff;
    border-radius: 5px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    list-style-type: none;
    margin: 0;
    z-index: 5;

	width: 100%;
	padding: 1.2rem 1.2rem;
	/* padding: 0.75rem 1.2rem; */
	border: 1px solid #444;
	border-radius: 25px;
	font-size: 1rem;
	background-color: hsla(0, 0%, 22%, 0.5);
	backdrop-filter: blur(15px);
	color: #eaeaea;
	transition: all 0.3s ease;
}

.dropdown-menu li {
	font-family: 'Courier New', Courier, monospace;
    padding: 10px;
	border-radius: 15px;
    cursor: pointer;
    text-align: left;
	transition: all 0.1s ease-in-out;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
	background-color: hsla(0, 0%, 28%, 0.9);
}

.dropdown.open .dropdown-menu {
    display: block;
}

/* Styling for the "Continue" button */
#continueButton {
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    max-width: 200px;

	letter-spacing: 1.5px;
	color: #fff;
	text-decoration: none;
	outline: none;
	margin: 2rem 0 1rem 0;
	padding: 0.75rem;
	border-radius: 50px;
	font-size: 1.125rem;
	font-weight: 200;
	cursor: pointer;
	background: linear-gradient(135deg, hsla(145, 85%, 50%, 0.9), hsla(150, 91%, 55%, 0.6));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
	transition: all 0.3s ease;
}

#continueButton:hover {
    background-color: #45a049;
}

#continueButton:disabled {
    background: linear-gradient(135deg, hsla(0, 0%, 80%, 0.6), hsla(0, 0%, 70%, 0.5));
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    color: #d3d3d3;
    cursor: not-allowed;
	transition: all 3s ease;
}

footer {
	position: relative;
	background-color: rgba(10, 10, 10, 0.5);
	/* background-color: #1a1a1a; */
	padding: 1.5rem;
	text-align: center;
	border-top: 1px solid hsla(198, 85%, 58%, 0.15);
	/* border-top: 1px solid rgba(255, 255, 255, 0.1); */
	margin-top: 2rem;
}

footer p {
	color: #b0b0b0;
	margin: 0;
	font-size: 0.9rem;
}