@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box;
}

body {
	font-family: 'Manrope';
	background-color: #000;
	color: #e0e0e0;
	margin: 0;
    margin-top: 10rem;
	padding: 0;
	min-height: 100vh;
}

.navbar {
	position: fixed;
	top: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
	background: linear-gradient(135deg, rgba(40, 40, 40, 0.8), rgba(30, 30, 30, 0.8));
	padding: 1rem 1.3rem;
	border-radius: 2.5rem;
	/* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4); */
	z-index: 1000;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	transition: all 0.3s ease;
	width: 80%;
	max-width: 1200px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.nav-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}

.logo {
	margin-left: 1rem;
	font-size: 2.2rem;
	font-weight: 700;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	height: 100%;
	z-index: 5;
	pointer-events: none;
	user-select: none;
}
  
.logo > p {
	margin: 0;
	width: auto;
}
  
.logo p span {
	letter-spacing: -0.6rem;
	display: inline-block;
	text-shadow: 0 0 1rem hsla(0, 0%, 100%, 0.3);
}
  
.logo > p:nth-child(1) {
	color: white;
}

@supports((text-stroke: 1.5px white) or (-webkit-text-stroke: 1.5px white)) {
	.logo > p:nth-child(1) > span:nth-child(2),
	.logo > p:nth-child(1) > span:nth-child(6),
	.logo > p:nth-child(1) > span:nth-child(10) {
		color: transparent;
		-webkit-text-stroke: 1.5px white;
		rotate: 8deg;
	}
	.logo > p:nth-child(1) > span:nth-child(6) {
		animation: fall 0.5s forwards 1s;
		rotate: 10deg;
	}
	.logo > p:nth-child(1) > span:nth-child(4),
	.logo > p:nth-child(1) > span:nth-child(8) {
		color: transparent;
		-webkit-text-stroke: 1.5px white;
		rotate: -8deg;
	}
}
  
@keyframes fall {
	0% {
	  	transform: rotate(0deg);
	}
	100% {
	  	transform: rotate(8deg);
	}
}

.nav-links {
	display: flex;
	gap: 0.5rem;
}

.nav-link {
	color: #fff;
	text-decoration: none;
	padding: 0.75rem 2rem;
	border-radius: 50px;
	transition: all 0.2s ease;
	font-size: 1.125rem;
	font-weight: 200;
	position: relative;
	cursor: pointer;
}

.nav-link:hover {
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.25), rgba(108, 108, 108, 0.3));
	/* transform: scale(1.05); */
	color: #fff;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.nav-link.active {
	background-color: rgba(255, 255, 255, 0.2);
	font-weight: bold;
}

.nav-link:focus {
	outline: none;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6);
}

.nav-link.logout-button {
    color: #fff;
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: 50px;
    transition: all 0.3s ease;
    font-size: 1.125rem;
    font-weight: 200;
    position: relative;
    background: linear-gradient(135deg, hsla(0, 85%, 58%, 0.9), hsla(14, 91%, 64%, 0.596));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.nav-link.logout-button:hover {
    background: linear-gradient(135deg, hsl(0, 85%, 58%), #ff5c00);
    color: #fff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
    transform: scale(1.02);
}

.nav-link.logout-button.active {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
}

.nav-link.logout-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6);
}

/*  */
/*  */
/*  */

.grid {
	position: fixed;
	/* top: 5rem; */
	height: 80%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
}
  
.grid-svg {
	height: 80%;
	width: 80%;
	position: fixed;
}
  
.blur1 {
	height: 8rem;
	width: 8rem;
	background-color: hsl(198, 85%, 58%);
	filter: blur(80px);
	border-radius: 50%;
	z-index: 0;
	position: absolute;
	top: 50%;
	left: 8%;
	animation: float 12s infinite ease-in-out;
}
  
.blur2 {
	height: 25rem;
	width: 25rem;
	background-color: hsla(37, 100%, 65%, 0.8);
	filter: blur(60px);
	border-radius: 50%;
	z-index: 0;
	position: absolute;
	top: 25%;
	left: 35%;
	animation: float 18s infinite reverse;
}
  
.blur3 {
	height: 15rem;
	width: 15rem;
	background-color: hsl(155, 100%, 65%);
	filter: blur(100px);
	border-radius: 50%;
	z-index: 0;
	position: absolute;
	top: 70%;
	left: 70%;
	animation: float 30s infinite alternate-reverse;
}
  
.blur4 {
	height: 10rem;
	width: 10rem;
	background-color: hsl(345, 100%, 65%);
	filter: blur(75px);
	border-radius: 50%;
	z-index: 0;
	position: absolute;
	top:-5%;
	left: 80%;
	animation: float 16s infinite ease-in-out;
}
  
@keyframes float {
	0% {
	  transform: translate(0, 0);
	}
	25% {
	  transform: translate(80px, -80px);
	}
	50% {
	  transform: translate(-80px, -160px);
	}
	75% {
	  transform: translate(40px, -240px);
	}
	100% {
	  transform: translate(0, 0);
	}
}

/* Main Container */
.simulation-container {
    /* background: white; */
    background: transparent;

    padding: 30px;
    /* border: 3px solid #008374; */
    border-radius: 12px;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
    max-width: 700px;
    position: relative;
	margin: 2rem auto 1rem auto;
    text-align: center;

    /* background: linear-gradient(135deg, rgba(40, 40, 40, 0.8), rgba(30, 30, 30, 0.8));
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px); */
    border-radius: 2.5rem;
	/* box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.1); */
    /* padding: 2rem; */
    width: 80%;
	max-width: 1200px;
}

.container {
    max-width: 700px;
    position: relative;
	margin: 5rem auto 1rem auto;
    text-align: center;
    background: linear-gradient(135deg, rgba(40, 40, 40, 0.8), rgba(30, 30, 30, 0.8));
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
    border-radius: 2.5rem;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Headings */
.title {
	font-size: 5rem;
	font-weight: 650;
	letter-spacing: -0.2rem;
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-self: center;
	height: 100%;
	z-index: 5;
	text-shadow: 0 0 1rem #000000b1;
}

.title > p {
	width: auto;
	text-align: center;
    margin: 0;
    color: hsl(37, 100%, 65%);
}

.description {
    font-size: 1.3rem;
    margin-bottom: 5rem;
    text-shadow: 0 0 1rem #000000b1;
}

/* Canvas Styling */
.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 2.5rem;
    width: 90%;
    max-width: 50rem;
    height: 25rem;
    background: linear-gradient(135deg, rgba(40, 40, 40, 0.8), rgba(30, 30, 30, 0.8));
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 15px;
}

/* Buttons */
.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.2rem;
}

.simulation-button {
    display: block;
    background: linear-gradient(135deg, hsla(145, 85%, 50%, 0.9), hsla(150, 91%, 55%, 0.6));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    color: white;
    text-decoration: none;
    text-shadow: 0 0 1.5rem #000000b1;
    padding: 1rem 1.2rem;
    width: 15rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
	transition: all 0.3s ease;
}

.simulation-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#reset-button {
    background: linear-gradient(135deg, hsla(198, 85%, 58%, 0.9), hsla(207, 91%, 64%, 0.596))
}

#reset-button:hover {
    background: linear-gradient(135deg, hsl(198, 85%, 58%), #4dabf7);
}

.button {
    display: block;
    background: linear-gradient(135deg, hsla(145, 85%, 50%, 0.9), hsla(150, 91%, 55%, 0.6));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    color: white;
    text-decoration: none;
    text-shadow: 0 0 1.5rem #000000b1;
    padding: 14px;
    width: 15rem;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
	transition: all 0.3s ease;
}

.button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

input {
    padding: 10px;
    font-size: 1rem;
    color: white;
    border-radius: 6px;
    border: 1px solid #00b4cc;
    width: 5rem;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(135deg, rgba(40, 40, 40, 0.8), rgba(30, 30, 30, 0.8));
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
}

label {
    align-self: center;
}

footer {
	position: relative;
	background-color: rgba(10, 10, 10, 0.5);
	/* background-color: #1a1a1a; */
	padding: 1.5rem;
	text-align: center;
	border-top: 1px solid hsla(198, 85%, 58%, 0.15);
	/* border-top: 1px solid rgba(255, 255, 255, 0.1); */
	margin-top: 2rem;
}

footer p {
	color: #b0b0b0;
	margin: 0;
	font-size: 0.9rem;
}
